<header>
    <div class="container">
      <a routerLink="/" class="logo">Animal Pictures!</a>
      <nav>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/dogs">Dog Pictures</a></li>
          <li><a routerLink="/cats">Cat Pictures</a></li>
          <li  *ngIf="authService.isLoggedIn" class="nav-item">
              <a routerLink="/login" class="nav-link"  (click)="authService.logout()">Log Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>